*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box{
    height: 50vh;
    width: 100%;
    background-color: aqua;
    display: block;
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    align-items: center;
    justify-content: center;

}